# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Models
*.h5
*.pt
*.pth
*.ckpt

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

datasets/
venv/
.DS_Store
__pycache__/
*.pyc